@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section {
  width: 200px;
  height: 150px;
  background: rgb(226, 226, 226);
  background: radial-gradient(
    circle,
    rgba(226, 226, 226, 1) 0%,
    rgba(242, 242, 242, 1) 40%,
    rgba(242, 242, 242, 1) 60%,
    rgba(226, 226, 226, 1) 100%
  );
  border: 1px solid rgb(91, 91, 91);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: #b94b4b;
  font-size: 20px;
  padding-top: 10px;
}
section input {
  width: 100%;
  background-color: none;
  height: 35px;
}
section .fa-github {
  font-size: 30px;
}
section a {
  color: #b94b4b;
}
section a:hover {
  color: #d49191;
}
footer {
  width: 200px;
  height: 30px;
  background: rgb(226, 226, 226);
  background: radial-gradient(
    circle,
    rgba(226, 226, 226, 1) 0%,
    rgba(242, 242, 242, 1) 40%,
    rgba(242, 242, 242, 1) 60%,
    rgba(226, 226, 226, 1) 100%
  );
  color: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.fa-copy {
  cursor: pointer;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted rgb(88, 88, 88);
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: rgba(88, 88, 88, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 200%;
  left: 50%;
  margin-left: -100px;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(88, 88, 88) transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
